<%- include('includes/header') %>
<body>
  <div>Products Page</div>
  <div><%=member.memberNick%></div>
  <div>
    <% products.map( (value, key) => { %>
    <p><%= value.productName %> <%= value.productSize %></p>
    <% }) %>
  </div>
</body>
<%- include('includes/footer') %>